$primary_red: #f00;
$primary_pink: #ff6caa;
$primary_lightpink: #ffbebe;
$primary_lightpink2: #fff8fb;
$primary_deepblue: #0062f4;
$primary_blue: #2e81ff;
$primary_lightblue: #c3d8ff;
$primary_lightblue2: #f3f7ff;
$primary_deepgray: #747474;
$primary_gray: #656565;
$primary_lightgray: #d9d9d9;
$primary_lightgray2: #f1f1f1;
