.tableWrapper {
	width: 100%;
	tr th {
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		padding: 0.5rem 0;
		text-align: center;
	}
	tr td {
		padding: 0.5rem 0;
		text-align: center;
	}
	.tableBodyItemWrapper:hover {
		background-color: #f0f0f0;
		cursor: pointer;
	}
}
